@page
@model CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>TouristPackage</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TouristPackage.Title" class="control-label"></label>
                <input asp-for="TouristPackage.Title" class="form-control"/>
                <span asp-validation-for="TouristPackage.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TouristPackage.InitialDate" class="control-label"></label>
                <input asp-for="TouristPackage.InitialDate" class="form-control"/>
                <span asp-validation-for="TouristPackage.InitialDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TouristPackage.MaximumPeople" class="control-label"></label>
                <input asp-for="TouristPackage.MaximumPeople" class="form-control"/>
                <span asp-validation-for="TouristPackage.MaximumPeople" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TouristPackage.Price" class="control-label"></label>
                <input asp-for="TouristPackage.Price" class="form-control"/>
                <span asp-validation-for="TouristPackage.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Voltar para a lista</a>
</div>

